.maindiv {
    position: absolute;
    width: 317px;
    height: 399px;
    left: 116px;
    top: 361px;
    background: #1A1B21;
    font-family: 'Inter';
}

.name {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.profession {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
    margin-top: -15px;
}

.site {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
}

.site > a {
    text-decoration: none;
    color: #F5F5F5;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    position: absolute;
    width: 247px;
    height: 34px;
    left: 35px;
    top: 110px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;
}

.about {
    position: absolute;
    width: 247px;
    height: 201px;
    left: 35px;
    top: 170px;
}

.about > h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

.about > p {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
    text-align: justify;
}

.interest {
    position: absolute;
    width: 247px;
    height: 201px;
    left: 35px;
    top: 270px;
}

.interest > h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

.interest > p {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
    text-align: justify;
}